$horz-adding: 30px;

md-card {
    padding: 0;

    md-card-title {
        padding: 15px $horz-adding;
        
        h2 {
            margin: 0;
            font-weight: normal;
        }
    }

    md-card-content {
        padding: $horz-adding;
        font-size: 18px;

        button {
            background-color: #800000;
            color: white;
            font-size: 18px;
            margin: 20px;
            padding: 5px 20px;
        }
    }
}